@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

img{
    max-width: 100%;
}
/*head start*/

/*banner start*/
.bannerAll{
    position: relative;
  margin-top: 9rem;
}
.banner{
    padding-right: 2%;
    padding-left: 2%;
}
.bannerContent{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    position: absolute;
    top: 14%;
    left: 2%;
}
.bannerHead{
    font-family: "宋体";
    font-size: 4.8rem;
    color: #ffffff;
}
.bannerSubHead{
    font-size: 1.4rem;
    color: #ffffff;
    margin-top: 1%;
    opacity: 0.8;
}
.about{
    width: 30%;
    display: block;
    height: 4rem;
    line-height: 4rem;
    background: #323f4f;
    border-radius: 2rem;
    color: #fff;
    margin-top: 8%;
    float: right;
    margin-right: 10%;
    font-size: 1.4rem;
}
.free{
    width: 30%;
    display: block;
    height: 4rem;
    line-height: 4rem;
    background: #ff3f3b;
    border-radius: 2rem;
    color: #fff;
    margin-top: 8%;
    float: left;
    margin-left: 10%;
    font-size: 1.4rem;
}
.about:hover{
    color: #fff;
}
.free:hover{
    color: #fff;
}
:global(.ant-carousel .slick-slide) {
    text-align: center;
    overflow: hidden;
}
.banner-img {
    width: 100%;
}
:global(.ant-carousel .slick-dots) {
    position: absolute;
    bottom: 0.6rem;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 1.6rem;
}
:global(.ant-carousel .slick-dots li){
    width: 1.6rem;
    height:1.6rem;
    margin: 0 1.5rem;
    background: none;
}
:global(.ant-carousel .slick-dots li button){
    background: none;
}
:global(.slick-dots li.slick-active button:before) {
    color: #ff3f3b;
}
:global(.slick-dots li button:before) {
    line-height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    content: '\2022';
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:global(.ant-carousel .slick-dots li.slick-active button) {
    background: none;
    opacity: 1;
    width: 1.6rem;
}
:global(.ant-carousel .slick-dots li button ){
  opacity: 1;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  outline: none;
  font-size: 0;
  color: transparent;
   -webkit-transition: all .5s;
  -o-transition: all .5s;
}
/*banner end*/
          /*nav start*/
.nav{
    width: 96%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 4%;
    z-index: -1;
}
/*introduce start*/
.introduce{
    width: 84%;
    margin: 0 auto;
    margin-bottom: 6rem;
    z-index: -1;
}
.introduceLeft{
    /*float: left;*/
}
.introduceHead{
    font-size: 2.4rem;
    color: #282b2f;
    margin-top: 4%;
    margin-bottom:4%;
    font-family: "宋体","Microsoft YaHei";
    font-weight: bold;
}
.introduceSubHead{
    font-size: 1.4rem;
    color: #848a8f;
    margin-bottom: 2%;
}
.introduceRight{
     position: relative;
     float: right;
     text-align: center;
 }
.videoStartBt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*design start*/
.design{
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    margin: 0 auto;
    background: #f5f5f5;
}
.designHead{
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: #282b2f;
    font-family: "宋体","Microsoft YaHei";
    font-weight: bold;
}
.designSubHead{
    font-size: 1.2rem;
    color: #848a8f;
    height:4rem;
}
.redBg{
    width: 100%;
    height:100%;
}
.designLeftTopALL{
    margin-left: 10%;
    margin-right: 10%;
}
.designLeftTop{
    text-align: center;
    margin-top:24%;
}
.designLeftTopHead{
    color: #ffffff;
    font-size: 4.8rem;
}
.designLeftTopSubHead{
    font-size: 1.4rem;
    color: #ffcac9;
}
.designLeftImage{
   width: 100%;
    height: 100%;
    margin-bottom: 8%;
}
.designRightImage{
    width: 100%;
    height:100%;
    cursor: pointer;
}
.redBgTop{
    position: absolute;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 20%;
    left: 15%;
}
.hotVideo{
    font-size: 1.4rem;
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 6%;
}
.hotVideoStyleAll{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 70%;
    left: 6%;
}
.hotVideoStyle{
    font-size: 1.4rem;
    color: #ffcac9;
    margin-right: 8%;
    margin-bottom: 8%;
}
.designRight2{
    cursor: pointer;
    position: relative;
    text-align: center;
    /*margin-right: 8%;*/
    /*margin-bottom: 8%;*/
}
.designRight{
    position: relative;
    text-align: center;
    cursor: pointer;
    /*margin-bottom: 8%;*/
}
.designRightStyle{
    position: relative;
    text-align: center;
    /*margin-right: 4%;*/
    /*margin-bottom: 4%;*/
}
.designRightText{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) ;
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

/*最近流行素材fashion start*/
.fashion{
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    margin: 0 auto;
}
.fashionNav{
    width: 88%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.navActive{
     border-bottom: 2px solid #ff3f3b;
     color: #ff3f3b;
     font-size: 1.4rem;
     height: 2rem;
     margin-top:2rem;
     line-height: 0.5rem;
     display: block;
 }
.navActive:hover{
    border-bottom: 2px solid #ff3f3b;
    color: #ff3f3b;
    font-size: 1.4rem;
    height: 2rem;
    margin-top:2rem;
    line-height: 0.5rem;
    display: block;
}
.navDefault{
    color: #848a8f;
    font-size: 1.4rem;
    height: 2rem;
    margin-top:2rem;
    line-height: 0.5rem;
    display: block;
}
.navDefault:hover{
    border-bottom: 2px solid #ff3f3b;
    color: #ff3f3b;
    font-size: 1.4rem;
    height: 2rem;
    margin-top: 2rem;
    line-height: 0.5rem;
    display: block;
}
/*讲解视频工具包 read start*/
.readBg{
    width: 100%;
    height:100%;
}
.read {
    width: 84%;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top:5%;
}
.read2{
    margin: 0 auto;
    margin-top:5%;
}
.progress{
    width: 80%;
    height:1rem;
    background: #cfd7dd;
    border-radius: 1rem;
}
.progressAll{
    width: 90%;
    position: absolute;
    left: 50%;
    top:88%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
    justify-content: space-around;
    transform: translate(-50%, -88%);
}
.progressIng{
    width: 20%;
    height: 1rem;
    background: #ff3f3b;
    border-radius: 1rem;
}
.startMake{
    display: block;
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    background: #ff3f3b;
    width: 14rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 3rem;
    margin-top: 3rem;
    margin-bottom:4rem;
}
.startMake:hover{
    color: #fff;
}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    -webkit-transition: opacity .45s;
    -o-transition: opacity .45s;
    transition: opacity .45s;
    opacity: 1;
    text-align: left;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #ff3f3b;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #ff3f3b;
}
.ant-tabs-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ant-tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2px;
    background-color: #ff3f3b;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*欢迎阅读我们的博客文章*/
.blog{
    width: 100%;
    position: relative;
    background: #202020;
}
.blogMain{
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
}
.blogMainLeft{
    float: left;
    text-align: left;
}
.blogContent{
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
}
.blogImage{
    width: 100%;
    height:100%;
}
.blogContentPublic{
    text-align: center;
    margin-right: 5.5%;
}
.blogContentPublic2{
    text-align: center;
}
.blogHead{
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: bold;
    line-height: 2.7;
}
.blogSubHead{
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 1rem;
}
.blogHeadMain{
    font-size: 2.4rem;
    color: #f5f5f5;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.blogSubHeadMain{
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 1rem;
}
.BLOG_BG{
    position: absolute;
    top: 0rem;
}

.watchMake{
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    background: #ff3f3b;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom:2rem;
    display: block;
    font-size: 1.4rem;
}
.watchMake:hover{
    color: #fff;
}
/*讲解视频工具包*/
@media screen and (min-width:780px) and (max-width: 1200px) {
    .progressAll {
        width: 94%;
        position: absolute;
        left: 50%;
        top: 88%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1000;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-transform: translate(-50%, -88%);
        -ms-transform: translate(-50%, -88%);
        transform: translate(-50%, -88%);
    }
    .videoStartBgOne{
        width: 100%;
        height: 24rem;
    }

}
@media screen and (min-width:640px) and (max-width: 780px) {
    .progressAll {
        width: 94%;
        position: absolute;
        left: 50%;
        top: 88%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1000;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-transform: translate(-50%, -88%);
        -ms-transform: translate(-50%, -88%);
        transform: translate(-50%, -88%);
    }
    .videoStartBgOne{
        width: 100%;
        height: 24rem;
    }
}
@media screen and (min-width:320px) and (max-width: 640px) {
    .progressAll {
        width: 94%;
        position: absolute;
        left: 50%;
        top: 88%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1000;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-transform: translate(-50%, -88%);
        -ms-transform: translate(-50%, -88%);
        transform: translate(-50%, -88%);
    }
    .designHead {
        margin-top: 8rem;
        margin-bottom: 2rem;
        font-size: 1.7rem;
        color: #282b2f;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .introduceHead {
        font-size: 1.7rem;
        color: #282b2f;
        margin-top: 4%;
        margin-bottom: 4%;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .blogHeadMain {
        font-size: 1.7rem;
        color: #f5f5f5;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:320px) {
    .progressAll {
        width: 94%;
        position: absolute;
        left: 50%;
        top: 88%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1000;
        justify-content: space-around;
        -webkit-transform: translate(-50%, -88%);
        -ms-transform: translate(-50%, -88%);
        transform: translate(-50%, -88%);
    }
}
/*首页banner*/
@media screen and (min-width:640px) and (max-width: 1200px) {
    .ant-carousel .slick-slide img {
        display: block;
        height: 24rem;
    }
    .bannerHead {
        font-family: "宋体";
        font-size: 3.8rem;
        color: #ffffff;
    }
}
@media screen and (min-width:320px) and (max-width: 640px) {
    .ant-carousel .slick-slide img {
        display: block;
        height: 20rem;
    }
    .bannerHead {
        font-family: "宋体";
        font-size: 2.8rem;
        color: #ffffff;
    }
    .about {
        width: 60%;
        display: block;
        height: 3rem;
        line-height: 3rem;
        background: #323f4f;
        border-radius: 2rem;
        color: #fff;
        margin-top: 8%;
        float: right;
        margin-right: 10%;
    }
    .free {
        width: 60%;
        display: block;
        height: 3rem;
        line-height: 3rem;
        background: #ff3f3b;
        border-radius: 2rem;
        color: #fff;
        margin-top: 8%;
        float: left;
        margin-left: 10%;
    }
}

@media screen and (max-width:320px) {
    .ant-carousel .slick-slide img {
        display: block;
        height: 18rem;
    }
    .bannerHead {
        font-family: "宋体";
        font-size: 2rem;
        color: #ffffff;
    }
    .about {
        width: 60%;
        display: block;
        height: 3rem;
        line-height: 3rem;
        background: #323f4f;
        border-radius: 2rem;
        color: #fff;
        margin-top: 8%;
        float: right;
        margin-right: 10%;
    }
    .free {
        width: 60%;
        display: block;
        height: 3rem;
        line-height: 3rem;
        background: #ff3f3b;
        border-radius: 2rem;
        color: #fff;
        margin-top: 8%;
        float: left;
        margin-left: 10%;
    }
}
/*首页主标题*/
@media screen and (min-width:320px) and (max-width: 640px) {
    .introduce {
        width: 84%;
        margin: 0 auto;
        margin-bottom: 4rem;
        z-index: -1;
    }
    .introduceHead {
        font-size: 1.7rem;
        color: #282b2f;
        margin-top: 4%;
        margin-bottom: 4%;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .designHead {
        margin-top: 4rem;
        margin-bottom: 0rem;
        font-size: 1.7rem;
        color: #282b2f;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .blogHeadMain {
        font-size: 1.7rem;
        color: #f5f5f5;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:320px) {
    .introduce {
        width: 84%;
        margin: 0 auto;
        margin-bottom: 4rem;
        z-index: -1;
    }
    .introduceHead {
        font-size: 1.7rem;
        color: #282b2f;
        margin-top: 4%;
        margin-bottom: 4%;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .designHead {
        margin-top: 4rem;
        margin-bottom: 0rem;
        font-size: 1.7rem;
        color: #282b2f;
        font-family: "宋体","Microsoft YaHei";
        font-weight: bold;
    }
    .blogHeadMain {
        font-size: 1.7rem;
        color: #f5f5f5;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
/*为各类应用场景而设计不同设备下字体大小*/
@media screen and (min-width:1390px) and (max-width: 1662px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 2rem;
        color: #ffffff;
        font-weight: bold;
    }
}
@media screen and (min-width:1114px) and (max-width: 1390px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 1.6rem;
        color: #ffffff;
        font-weight: bold;
    }
}
@media screen and (min-width:978px) and (max-width: 1114px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: bold;
    }
}
@media screen and (min-width:576px) and (max-width: 978px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
    }
}
@media screen and (min-width:320px) and (max-width: 576px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
    }
}
@media screen and (max-width:320px){
    .designRightText{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
    }
}


@media screen and (min-width:1114px) and (max-width: 1320px){
    .designLeftTopHead{
        color: #ffffff;
        font-size: 4rem;
    }
}
@media screen and (min-width:968px) and (max-width: 1114px){
    .hotVideoStyle{
        font-size: 1.4rem;
        color: #ffcac9;
        margin-right: 8%;
        margin-bottom: 4%;
    }
    .designLeftTopHead{
        color: #ffffff;
        font-size: 3.2rem;
    }
}
@media screen and (min-width:810px) and (max-width: 968px){
    .hotVideoStyle{
        font-size: 1.4rem;
        color: #ffcac9;
        margin-right: 4%;
        margin-bottom: 2%;
    }
    .designLeftTopHead{
        color: #ffffff;
        font-size: 2.4rem;
    }
}
@media screen and (min-width:640px) and (max-width: 810px){
    .hotVideo {
        font-size: 1.4rem;
        color: #ffffff;
        position: absolute;
        top: 55%;
        left: 6%;
    }
    .hotVideoStyleAll {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 65%;
        left: 6%;
    }
    .hotVideoStyle {
        font-size: 1.2rem;
        color: #ffcac9;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .designLeftTopHead {
        color: #ffffff;
        font-size: 1.6rem;
    }
    .designLeftTopSubHead {
        font-size: 1.2rem;
        color: #ffcac9;
    }
}
@media screen and (min-width:576px) and (max-width: 640px){
    .redBgTop {
        position: absolute;
        width: 70%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 8%;
        left: 15%;
    }
    .hotVideo {
        font-size: 1.2rem;
        color: #ffffff;
        position: absolute;
        top: 38%;
        left: 6%;
    }
    .hotVideoStyleAll {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 54%;
        left: 6%;
    }
    .hotVideoStyle {
        font-size: 1.2rem;
        color: #ffcac9;
        margin-right: 4%;
        margin-bottom: 1%;
    }
    .designLeftTopHead {
        color: #ffffff;
        font-size: 1.8rem;
    }
    .designLeftTopSubHead {
        font-size: 1.2rem;
        color: #ffcac9;
    }
}
@media screen and (min-width:320px) and (max-width: 575px){
    .hotVideo {
        font-size: 1.4rem;
        color: #ffffff;
        position: absolute;
        top: 54%;
        left: 6%;
    }
    .hotVideoStyleAll {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 64%;
        left: 6%;
    }
    .hotVideoStyle {
        font-size: 1.2rem;
        color: #ffcac9;
        margin-right: 4%;
        margin-bottom: 2%;
    }
    .designLeftTopHead {
        color: #ffffff;
        font-size: 1.8rem;
    }
    .designLeftTopSubHead {
        font-size: 1.2rem;
        color: #ffcac9;
    }
}
@media screen and (max-width:320px){
    .hotVideoStyleAll {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 64%;
        left: 6%;
    }
    .hotVideoStyle {
        font-size: 1.4rem;
        color: #ffcac9;
        margin-right: 2%;
        margin-bottom: 1%;
    }
    .designLeftTopHead {
        color: #ffffff;
        font-size: 1.8rem;
    }
    .designLeftTopSubHead {
        font-size: 1.2rem;
        color: #ffcac9;
    }
}



@media screen and (min-width:992px) and (max-width: 1320px){
    .blogBgImg{
        width: 100%;
        height:36rem;
    }
}
@media screen and (min-width:576px) and (max-width: 840px){
    .banner-img{
        width: 100%;
        height:18rem;
    }
}

@media screen and (min-width:320px) and (max-width: 576px){
    .banner-img{
        width: 100%;
        height:18rem;
    }
}

@media screen and (max-width:320px){
    .banner-img{
        width: 100%;
        height:18rem;
    }
}