/*模态框居中*/
.modal {
    top:20%;
}

.input {
    margin-bottom: 2rem;
    min-height: 4rem;
    padding-left: 1rem;
}

.avatarBtnWrapper {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.AvatarEditorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatarBtn {
    margin-left: 1rem;
    background-color: #ccc;
    color:#fff;
    font-size: 1rem;
}

.mottoWrapper,.usernameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mottoWrapper{
    margin-left: 4%;
    margin-right:4%;
}
.username {
    font-style: italic;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 200px;
    min-width: 100px;
    padding: 0 10px;
    opacity: .6;
    background-color: #fff;
    color: #666;
}


.motto {
    display: inline-block;
    color: #666;
    font-style: italic;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 500px!important;
    min-width: 100px;
    padding: 0 10px;
    opacity: .6;
    background-color: #fff;

}

.banner{
    margin-top: 70px;
    position: relative;
    text-align: center;
    height:38rem;
}
.bannerImage{
    position: absolute;
    top: 0;
    left:0;
    background: #eeeeee;
    height: 38rem;

}
.bannerImage img{
    height:38rem;
}
.bannerContent{
    margin-top: 8.8rem;
}
.bannerImages{
    position: absolute;
    left: 53%;
    top: 10%;
    transform: translate(-53%, -10%);
}
.bannerHead{
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.bannerSubHead{
    font-size: 1.2rem;
    color: #ffffff;
}
.form{
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 4rem;
}
.formLeft{
    float: left;
}
.formRight{
    float: right;
}
.formHead{
    font-size: 1.6rem;
    color: #282b2f;
    margin-bottom: 2rem;
    font-weight: bold;
}
.spanOne{
    font-size: 1.6rem;
    color: #282b2f;
    margin-right: 2rem;
}
.formInput{
    margin-bottom: 2rem;
}
.formInput input{
    height: 4.4rem;
}
.formCountersign{
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.buttonWrapper {
    padding-bottom: 4rem;
}
.deleteAccount {

    background-color:#ccc;
    color:#fff;
    cursor: pointer;
    width: 15%;
    font-size: 2rem;
    text-shadow: none;
    display: inline-block;
    border-radius: 1rem;
    margin-right: 2rem;
    outline: none;
    height: 4rem;
    margin-left: 50%;
}
.saveChanges {
    width: 15%;
    background-color:#ff3f3b;
    color:#fff;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: none;
    display: inline-block;
    border-radius: 1rem;
    outline: none;
    height: 4rem;
    margin-right: 10%;
}

.userAvatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

@media screen and (min-width: 577px) and (max-width: 960px){
    .saveChanges,.deleteAccount {
        width: 16%;
        font-size: 1.6rem;
    }
}
@media screen and (min-width:320px) and (max-width: 576px){
    .form{
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 4rem;
    }
    .formCountersign{
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .saveChanges ,.deleteAccount{
        margin-bottom: 1rem;
        width: 80%;
        font-size: 1.6rem;
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media screen and (max-width:320px){
    .form{
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 4rem;
    }
    .formCountersign{
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .buttonWrapper {
        display: flex;
        justify-content: center;
    }
    .saveChanges ,.deleteAccount{
        margin-bottom: 1rem;
        padding: 0 6rem;
        font-size: 1.4rem;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.fontFourteen{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}