@charset "UTF-8";
html, body, :global(#root) {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    font-size: 520% !important;
    padding: 0;
    margin: 0;
}

#root {
    font-size: .12rem !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.header {
    justify-content: space-between;
    background: #fff;
    line-height: .64rem;
    height: .64rem;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    border-bottom: 1px solid #eee;
}

.logo .logo-img {
    width: .33rem;
    height: .4rem;
    margin-right: 0.2rem;

}

.logo {
    align-items: center;
}

.flex-box {
    display: flex;
}

.clearfix {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right
}

.header .ant-dropdown {
    display: block;
}

.header {
    line-height: .64rem;
    height: .64rem;
    position: relative;
    z-index: 10;
}

.dropmenu {
    display: block;
}

.header-drop-list {
    border: 1px solid #eee;
    box-shadow: 1px 5px 5px #eaeaea;
    background: #fff;
    width: 4rem;
    padding: 0 .1rem;
}

.header-drop02-info > li {
    display: flex;
    justify-content: space-between;
    padding: .1rem;
    border-bottom: 1px solid #eee;
}

.header-drop02-info > li:last-child {
    border: 0 none;
}

.header-drop-tit {
    border-bottom: 1px solid #eee;
    padding: .1rem;
}

.header-drop-info {
    padding: 0 .1rem;
}

.header-drop-info > li {
    margin: .1rem;
    width: calc(33.33% - 20px);
    float: left;
    text-align: center;
}

.header-drop-tit {
    font-size: .16rem;
}

.header-drop-tit a {
    font-size: .16rem;
    color: #df3e3e;
}

.header-drop-tit a:hover {
    text-decoration: underline;
}

a {
    color: #777;
}

a:hover {
    color: #df3e3e;
}

.main-color {
    color: #df3e3e;
}

.notice {
    position: relative;
    left: 0;

}

.header-admin-text {
    font-size: .14rem;
    line-height: .32rem;
    vertical-align: middle;
    color: #777;
}

.header-drop03-info > li {
    padding: .1rem;

}

.out-login {
    padding: .1rem;
    font-size: .16rem;
    border-top: 1px solid #ddd;
}

.header .ant-menu-horizontal > .ant-menu-item {
    font-size: .16rem;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.page-box {
    height: calc(100% - 1.2rem);

}

.besider .ant-layout-sider {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}

.content-info {
    height: calc(100% - .1rem);
}

.header-nav-box > li {
    min-width: 2rem;
}

.header-nav {
    border: 0 none;
    height: .6rem;
}
.BrandListTag-box{
    overflow: hidden;
}


@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 0.7;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 0.7;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
    width: 100%;
    margin: 50px 0 !important;
}

.fontWhite {
    color: #FFFFFF;
}

Link {
    font-size: 1.4rem;
}

@charset "utf-8";
/* CSS Document */
* {
    margin: 0rem;
    padding: 0rem;
}

body {
    margin: 0rem 0 0;
}

ul, li {
    list-style-type: none;
}

img {
    border: 0;
}

.header-nav-min li {
    cursor: pointer;
}

.besidermin, .besidemin-leve2 {
    border: 1px solid #eee;
    box-shadow: 1px 5px 5px #eaeaea;
    background: #fff;
    width: 200px;
}

.besidemin-leve2 {
    display: none;
    position: absolute;
    left: 199px;
    top: 0px;
    color: #777;
    background: #fff !important;
}

.besidemin-leve2 li {
    padding: 10px 20px;
    cursor: pointer
}

.besidemin-leve2 li:hover {
    color: #df3e3e;
    background: #eee;
}

.besidemin-leve2 > ul > li {
    color: #777;
}

.besidemin-leve2 > span {
    display: block;
    color: #666 !important;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background: #fefefe;
}

.besidemin-leve1 > li {
    padding: 10px 20px;
    position: relative;
}

.besidemin-leve1 > li:hover {
    background: #eee;
    color: #df3e3e;
}

.besidemin-leve1 > li:hover .besidemin-leve2 {
    display: block;
    color: #df3e3e;
    background: #eee;
}

.margin-top-10 {
    margin-top: .1rem;
}

.content-infor-tit {
    justify-content: space-between;
    padding: .1rem .2rem;
    background: #fff;
    font-size: .16rem;
    margin-top: .1rem;
}

.content-infor-bread {
    line-height: .32rem;
}

.person-info {
    background: #fff;
    padding: 0 .2rem .2rem 0.2rem;
    font-size: .14rem;
}

.person-pic-text {
    margin-left: .2rem;
}

.margin-top-20 {
    margin-top: .2rem;
}

.person-pic-tit {
    font-size: .2rem;
}

.person-pic-tit + div {
    margin-top: .1rem;
}

.extraContent-box {
    justify-content: flex-end;
}

.statItem-list {
    text-align: center;
}

.statItem-list p + p {
    font-size: .3rem;
    color: #333
}

.statItem-list p {
    margin-bottom: 0;
    white-space: nowrap
}

.extraContent-box > div {
    border-right: 1px solid #eee;
    padding-right: .5rem;
    margin-left: .5rem;
}

.extraContent-box > div:last-child {
    border-right: 0 none;

}

.extraContent-box > div:first-child {
    border-right: 0 none;
    margin-left: 0;

}

.ant-avatar.ant-avatar-info {
    width: 0.6rem !important;
    height: .6rem !important;
}

.data-total-list {
    background: #fff;
    padding: .2rem;
    border: 1px solid #eee;

}

.total-data-ico {
    font-size: .4rem;
    margin-right: .2rem;
}

.data-type {
    font-size: .18rem;
}

.data-type p {
    margin-bottom: 0;
    font-size: .14rem;
}

.data-total-list {
    align-items: center;
}

.table-user-pic img {
    width: .8rem;
    height: .8rem;
}

.table-user-pic {
    margin-right: .2rem;
}

.table-user {
    display: flex;
}

.event-have-deal {
    background: #fff;
    border: 1px solid #eee;
}

.user-table td {
    padding: .1rem;
    border-bottom: 1px solid #eee;
}

.user-table {
    width: 100%;
}

.event-have-info {
    padding: .2rem;
}

.event-have-tit {
    padding: .15rem .2rem;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    background: #fefefe;
}

.pagination-box {
    text-align: right;
}

.contro-list-box li {
    background: #fff;
    padding: .2rem;
    margin-top: .2rem;
    text-align: center;
    font-size: .14rem;
}

.contro-list-box li p {
    margin-top: .1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contro-list-box li a .anticon {
    font-size: .5rem;
    color: #666;
}

.order-list-block {
    background: #fff;
}

.oder-list {
    padding: .2rem;
    justify-content: space-between;
    font-size: .14rem;
}

.oder-list > li {

    text-align: center;
    flex: 1;
}

.oder-list > li h2 {
    font-size: .22rem
}

.red {
    color: red;
}

.order-tit {
    padding: .1rem .2rem;
    font-size: .16rem;
    color: #333;
    border-bottom: 1px solid #eee;
    background: #fefefe;
}

.event-have-tit h3 {
    margin-bottom: 0px;
}

.order-infor {
    width: 1.50rem;
}

.order-line {
    width: calc(100% - 1.5rem);
    height: 365px;

}

.Order-infor-box {
    background: #fff;
    font-size: 14px;
}

.order-infor li {
    padding: .2rem;
}

.Order-infor-box .ant-card {
    border: 0 none;
}

.order-filter-detial a {
    display: inline-block;
    margin: 0 .1rem;
    font-size: .12px;
    color: #555;
}

.order-filter-detial a:hover, .order-filter-detial a.active {
    color: #1890ff
}

.order-tit {
    justify-content: space-between;
}

.team-list li a img {
    width: .8rem;
    height: .8rem;
}

.team-list {
    text-align: center;
    padding: 0 0.2rem 0.2rem;
    background: #fff;
}

.team-list li {
    margin-top: .2rem;
}

.team-list li p {
    margin-top: .1rem;
}

.team-infor-box {
    background: #fff;
}

.green {
    color: green;
}

.red {
    color: red;
}

.account-box {
    background: #fff;
    padding-bottom: 40px;
}

.account-infor {
    max-width: 3rem;

    margin: .4rem auto
}

.account-infor-list > li {
    justify-content: space-between;
    align-items: center;
    margin-top: .2rem;
}

.account-infor-list label {
    width: .8rem;
    text-align: right
}

.account-infor-list .account-user {
    width: calc(100% - 0.9rem)
}

.pic-load {
    width: 1.04rem;
    margin: 0 auto;
    position: relative;
    left: .3rem;
}

.margin-top-60 {
    margin-top: .6rem;
}

.account-btn-box {
    text-align: center;
}

.journal-infor {
    padding: .2rem;
}

.breadcumb-box {
    background: #fff;
    line-height: .32rem;
    margin-left: -0.25rem;
    margin-right: -0.2rem;
    padding: .16rem .2rem;

}

.inner-content {
    background: #fff;
    overflow: hidden;
}

.header-nav {
    border: 0 none !important
}

.header-nav .ant-menu-item {
    padding: 0 .15rem;
    line-height: .64rem;
}

.besider ul.ant-menu {
    height: 100%;
}

.header .ant-avatar {
    height: .24rem !important;
    width: .24rem !important;
}

.white-bg {
    background: #fff;
}

.header .logo {
    width: 2.56rem;
    padding-left: .2rem;
}

.Brind-prototype {
    background: #fff;
    padding: .2rem;
    margin-top: .2rem;
}

.inner-tit {
    font-size: .20rem;
    padding: .1rem;
    border-bottom: 1px dashed #eee;
}

.inner-tit::before {
    content: '';
    width: .06rem;
    height: .2rem;
    background: #008aff;
    vertical-align: middle;
    margin-right: .1rem;
    display: inline-block;
}

.prototype-list {
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
}
.time-compontents{
    display: flex;
}
.text-align-center{
    text-align: center;
}
.button-box button{
    margin: 0 .1rem;
}
.prototype-list .ant-time-picker,.prototype-list .ant-cascader-picker{
    width: 100% !important;
}
.header .anticon.anticon-user{
    display: block;
    line-height: 1;
}

