.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    background: #f0f2f5;
}

@media (min-width: 768px) {
    .container {
        background-image: url("../../resources/image/login/background.svg");
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%;
    }
}

