body{
    /*min-width: 314px;*/
}
.loginAll{
    position: relative;
    left: 0;
    top: 0;
    padding: 110px 0;
    min-height: 100%;
    box-sizing: border-box;
}
.FormAll{
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}
.FormHead{
    text-align: center;
    padding: 20px;
}
.FormInput{
    height: 4rem;
}
.RememberPassword{
    text-align: left;
}
@media screen and (max-width: 768px){
    .loginAll{
        padding-top: 80px;
    }
    .FormAll{
        width: 300px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
